WebServiceClient/src/conf/xml-resources/web-service-references/area_2/wsdl/localhost_8084/WebserviceWithTomcat/area.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://nn/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://nn/">

<xs:element name="operation" type="tns:operation" />

<xs:element name="operationResponse" type="tns:operationResponse" />

<xs:complexType name="operation">
<xs:sequence>
<xs:element name="side" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="operationResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>